<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="wsHTTPEndpoint">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ent-ml15aaf-1.herts.ac.uk/ServiceImplimentation/Start.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHTTPEndpoint"
                contract="ServiceReference1.ISmartSocketsWebService" name="wsHTTPEndpoint" />
        </client>
    </system.serviceModel>
</configuration>